<%= simple_form_for post do |f| %>

  <div class="row containerFormulair mx-auto gap-3">
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
    <div class="col-md-6">
      <%= f.input :pseudo %>
    </div>
    <div class="col-md-12">
      <%= f.input :description %>
    </div>
    <div class="col-md-12">
       <%= f.input :date, as: :date, html5: true %>
    </div>
    <div class="col-md-12">
       <%= f.input :image, as: :string %>
    </div>
    <div class="col-md-2 ">
        <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
