
<div class=textPost id="<%= dom_id post %>">
  <p>
    <strong>Image:</strong>
    <%= post.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Pseudo:</strong>
    <%= post.pseudo %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= post.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

</div>
