<p style="color: green"><%= notice %></p>
<div class="titleH1 mb-4">
  <h1 class=titlePageHome>Explore Collectibles</h1>
</div>

<div id="posts" class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 mb-5">
      <div class="card bg-white border-0">
        <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center text-success cardtitle "> <%= post.title %> </h5>
          <p class="card-text text-center text-primary fountPaddingCard"><span class=text-success>By </span><%= post.pseudo %> </p>
          <p class="card-text text-center text-success fountPaddingCard textMargin textWeight"> <%= post.description.truncate(138)%> </p>
          <p class="card-text text-center text-primary fountPaddingCard margin0"> <%= post.date %> </p>
          <p class="">
          <%= link_to "Decouvrir plus", post, class: 'btn btn-primary text-secondary stretched-link fountPaddingCard' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to "New post ", new_post_path, class: '' %>

<img src="app/assets/images/akar-icons_circle-plus.svg" alt="">

</body>
